.box{ width:150px; height:50px;
border: 1px solid; margin:5px;
background-color: gold;}
.display{display: none;}
.visible{ visibility: hidden;}
.opacity{ opacity: 0;}
.text{text-indent: -999px;}
.pos{
    position: absolute;
    left:-999px;
}
.width{
    position: apsolute;
    width: 100px;
    height: 100px;
    clip: rect(0 10 50 0);
    overflow: hidden;
    background-image: url('../imgs/cat1.png;')
}
.font {font-size: 0;}