label{
    border:1px solid blue;
    width:50px;
    display: block;
    margin:20px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}
/* label span{
    display: block;
    height: 3px;
    background: black;
    border-radius: 2px;
    margin:3px auto;
    width:90%;
} */
/* 박스제어하기 */
ul{display: none;}
input:checked+ul{
    display: block;
}
/* ul>li>a:before{
    content:'\1F60A';
} */

/* 서브메뉴 디자인 및 구현 */
ul{ position: relative;
    width: 250px;}
ul>li{ background: limegreen;
    font-weight: bold;
    padding: 5px;
}
ul>li:not(:last-child){
    /* border-bottom: 0.1px dashed white; */
    box-shadow: 1px 1px 1px 1px white;
}
ul>li{
    text-indent: 15px;
}
ul>li>a{
    color: white !important;
    display: block;
}
div.sub{
    position: absolute;
    left:100%;
    top:0;
    display:none;
    border:1px dotted lightgray;
}
ul>li:hover{
    background:lime;
}
ul>li:hover>a{
    text-shadow: 1px 1px black;
}

ul>li:hover>div.sub{
    width: 1000px;
    /* display:block; */
    display: flex;
}
/* 서브메뉴 디자인 */
div.sub section{
    /* float:left; */
    flex:1;
    padding:10px;
    border-right: 1px solid gray;
}
section>ol{
    font-size: 0.9em;
    font-weight: normal;
    color: gray;
}
section>h3 {
    font-size: 1em; 
    font-weight: normal;
}
section img{ 
    width:400px;
    display: block;
}
h3{width:200px;}