/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1279px){
    section{display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    section div{
        flex: 2 1 40%;
    }

}

/* pc */
@media screen and (min-width:1280px){
    .wrap{ width:1280px;
            margin:auto;
    }
    section{
        display: flex;
         flex-wrap: wrap; 
         justify-content: space-between;
        }
    .wrap section>div{
           /*flex: 1 1 30%*/
           width:32%
        }
    section div:nth-child(5){
        flex: 2 2 0;
    }

    }



.wrap{
    border:1px dotted black;
}
header, section, footer, div{
    border:1px solid;
    margin:5px;
    text-align:center;
}
section div{ height:200px;}
footer{
    height: 100px;
}