*{
    box-sizing: border-box;
}

body>li{
    display:block;
}
#main_lnb>ul>li>a {
    display: block;
}
div{
    overflow:hidden;
}
#main_lnb div p{
    height:0;
    transition: 0.6s;
}
#main_lnb div:target p{
    height:30px;
    line-height:30px;
    text-indent:20px;
}
div{
    background:skyblue;
    width:300px;
}
a{
    color:white !important;
}
p{
    background:slategray;
}
a:hover{
    cursor:pointer;
}
li>a{
    height:30px;
    line-height:30px;
    text-indent:15px;
}

