/* 스타일 지정하기 */
header {
    background: black;
   }
   
   header a {
    color: white !important;
    display: block;
    padding: 10px;
   }
   
   header li {
    text-align: center;
   }
   
   header h1 img {
    width: 200px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px gray;
   }
   
   /* hover효과주기 */
   ul>li:hover {
    background: grey;
   }
   
   ul>li:hover>a {
    color: black;
   }
   
   ol>li:hover {
    background: darkgrey;
   }
   
   /* 테이블 디자인 */
   .table {
    width: 100%;
   }
   
   .table tr {
    line-height: 2;
   }
   
   .table tr:nth-child(2n) {
    background-color: lightgray;
   }
   
   .contents {
    background-color: gray;
   }
   
   /* 이미지슬라이드 화살표변경 */
   .swiper-button-prev::after {
    display: none;
   }
   
   .swiper-button-prev {
    background: url('../imgs/left.png');
    background-size: 100% 100%;
    width: 50px !important;
   }
   
   .swiper-button-next::after {
    display: none;
   }
   
   .swiper-button-next {
    background: url('../imgs/left.png');
    background-size: 100% 100%;
    width: 50px !important;
    transform: scaleX(-1);
   }
   
   .swiper-pagination-bullet {
    background-color: silver !important;
    width: 20px !important;
    height: 20px !important;
   }
   
   /* 버튼 디자인 */
   button {
    /* 버튼의 기존 모든 스타일 초기화 */
    all: unset;
   
    background-color: steelblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: block;
    margin: 10px auto;
    cursor: pointer;
   }
   
   /* 서비스스타일 */
   .icons .info {
    font-size: 1.2em;
    color: blue;
    font-weight: bold;
    text-align: center;
   }
   
   /* 아이콘박스에 hover효과 주기 */
   .icons {
    position: relative;
   }
   
   .icons:hover>.text {
    transition: 1s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 2rem;
    color:white;
    opacity:1;
   }
   .service{
    background: black;
   }
   .text{opacity:0;}