.top{
    background:black; 
    color:white;
    font-style: italic;
    text-align:center;
    padding: 3px;
    }
.nav{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    border-bottom: 2px solid black;
    }

.nav h1{ 
    font-size: 1.5em; 
    margin-left:1.6vw;
    }
.nav i { font-size: 1.5em; }

.bottom{
    border-bottom: 1px solid gray;
    position: relative;
    text-align: center;
}
.bottom i{
    position: absolute;
    left: 5px;
    top: 8px;
}

.bottom h2{
    color: gray;
    font-size: 1em;
    padding: 5px;
}







.nav1{
    display:flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid gray;
    position:relative;
}
.left1>i{
    font-size:25px;
    margin:auto;
    box-sizing:border-box; width:35px; height:35px;
    border:2px solid lightgray;
    border-radius:35px;
    text-align:center;
    position:absolute;
    top:14%;
}
.left1>a{position:absolute; 
        left:2.5%;}

.bottom1{
    text-align:left;
    border-bottom:1px solid gray;
    width:1710px;
    padding:25px;
}
.bottom1>a{
    float:left;
    display:block;
    width:5%;
    color:black !important;
    text-align:center;
    font-size:small;
    font-weight:bold;
    line-height:0.02px;
}
.bottom1>i{
    float:right;
    border-left: 1px solid lightgray;
}









