/* 서브메뉴 ol이 absolute처리하면
메인메뉴 li를 relative하거나
메인메뉴 li를 감싸는 ul을 relative 한다.
ul과 li의 width는 같게 설계 할 예정
서브메뉴의 위치는 left:100%; 하면
width만큼 offset이 생긴다. */


ul a{display: block; color:white !important; padding:10px;}

ol{  display: none;
     position: absolute;}

ul li{background-color: royalblue;}
/* a태그의 글자는 자동상속이 안된다. */

ul{ width:200px; margin:30px;
    text-indent: 20px;}

ul li:hover{ background:black;
    text-indent:15px;
    transition: 0.5s;}
ul>li{position: relative;}

ul>li:hover>ol{display:block; width:100%;
left:100%; top:0;}


ol>li{background-color: teal;}
ol>li:hover{text-indent:15px;
transition:0.5s;}
ol>li:hover>dl{display:block; width:100%;
    left:100%; top:0;}

dl{display: none; position: absolute; color:white;}
ol>li{position: relative;}
dl>dt,dl>dd{padding:10px; background-color: orangered; cursor:pointer;}
dl>dt:hover,dl>dd:hover{background:black;}

/* 삼각형 불릿기호 달기 */

ul>li>a{position: relative;}
ul>li>a::after{content:''; display:block; position: absolute; width:0; height:0;
border:5px solid transparent;
right:0; top:15px; border-left-color:silver;}
ul>li>a:hover:after{content:''; display:block; position: absolute; width:0; height:0;
border:5px solid transparent;
right:0; top:15px; border-left-color:white;}

ol>li>a{position: relative;}
ol>li>a::after{content:''; display:block; position: absolute; width:0; height:0;
border:5px solid transparent;
right:0; top:15px; border-left-color:silver;}
ol>li>a:hover:after{content:''; display:block; position: absolute; width:0; height:0;
border:5px solid transparent;
right:0; top:15px; border-left-color:white;}
/* ul>li:nth-child(1) {border-bottom:1px dotted white;}
ul>li:nth-child(2) {border-bottom:1px dotted white;}
ul>li:nth-child(3) {border-bottom:1px dotted white;}
ul>li:nth-child(4) {border-bottom:1px dotted white;}
마지막 리스트 li만 제외하고 선택해서 아래 쪽 테두리를 넣자 */

ul>li:not(:last-child){border-bottom: 1px dotted white;}









